:root {
  --black: #191819;
  --dark-grey: #232223;
  --green: #B2B2EB;
  --desktop-margin: 100px 200px 100px 200px;
  --mobile-margin: 20px 50px 20px 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Schibsted+Grotesk:wght@400;800&display=swap');
body {
  margin: 0;
}

.main-container {
  font-family: 'Schibsted Grotesk', sans-serif;
  background-color: var(--dark-grey);
  color: white;
  
}

/* =====  NAV  ===== */



nav {
  background-color: var(--black);
  padding: 20px 100px 20px 100px;
  display: flex;
  align-items: center;
  
}



.logo-wrap {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.eye-logo {
  width: 50px;
  margin-right: 10px;
}

.nav-menu {
  display: flex;
  margin: 0;
}

.nav-menu li {
  list-style-type: none;
  margin-right: 10px;
}

.nav-menu a {
  text-decoration: none;
  color: var(--green);
}

nav .icon {
  display: none;
}
/* =====  HEADER  ===== */

header {
  padding: var(--desktop-margin);
  text-align: center;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Lora', serif;
  font-size: 75px;
  margin: 20px;
}

.contact-btn {
  display: grid;
  place-content: center;
  background-color: #B8D953;
  padding: 10px;
  width: 150px;
  border-radius: 50px;
  text-decoration: none;
  color: black;
  margin-top: 30px;

}

/* =====  MAIN  ===== */
main {
  padding: var(--desktop-margin);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 30px 40px; 
  grid-template-areas: 
    "faq-1 faq-2 faq-3"
    "faq-4 faq-5 faq-6";
    background-color: #191819;
  
}

main img{
  width: 50px;
}

main p {
  font-size: 16px;
}

.faq-wrap {
  max-width: 300px;
}

/* =====  CONTACT  ===== */

.contact {
  padding: var(--desktop-margin);
}


@media (max-width: 920px) {

  main {
   
    grid-template-columns: 1fr 1fr ; 
    grid-template-areas: 
      "faq-1 faq-2"
      "faq-3 faq-4"
      "faq-5 faq-6"
  }
}


@media (max-width: 768px) {
  

  nav .icon {
    display: block;
  }

  nav {
    padding: var(--mobile-margin);
  }

.nav-menu {
    display: none;
  }

  main {
    padding: var(--mobile-margin);
    grid-template-columns: 1fr; 
    grid-template-areas: 
      "faq-1"
      "faq-2"
      "faq-3"
      "faq-4"
      "faq-5" 
      "faq-6"
  }

  header {
    padding: var(--mobile-margin);
  }

  .contact {
    padding: var(--mobile-margin);
  }


}
